<template>
    <div id="advert-list-map">
        <div id="map" v-bind:style="{height: getMapHeight()}"></div>
        <div class="filters-sticky">
            <filters @filtersChanged="onFiltersChanged" :filters="filters"></filters>
        </div>
    </div>
</template>

<script>
    import Filters from './Filters.vue';

    export default {
        props: ['adverts', 'filters'],

        components: {
            'filters': Filters
        },

        watch: {
            adverts: function (val) {
                if (this.map !== null) {
                    this.map.geoObjects.removeAll();

                    this.addLabels();
                }
            }
        },

        mounted() {
            $('.footer').hide();

            console.log(this.adverts);

            ymaps.ready(() => {
                this.map = new ymaps.Map('map', {
                    center: [50.266031, 127.535670],
                    zoom: 14,
                    controls: ['zoomControl']
                });

                this.addLabels();
            });
        },

        data() {
            return {
                map: null
            };
        },

        methods: {
            getMapHeight() {
                return (window.innerHeight - 125) + 'px';
            },

            addLabels() {
                this.adverts.forEach((item) => {

                    const balloonContent =
                        `<div class="single-advert-map">
                            <a href="${item.slug}">
                                <div class="single-advert-inner">
                                    <span class="apartment-type-label ${item.obj_type.slug}">${item.obj_type.name}</span>
                                    <img class="img-responsive" src="${item.cropped_main_image_url.replace('\\', '')}" alt="${item.title}">
                                    <div class="single-advert-details-block">
                                        <div class="details">
                                            <div>
                                                <div class="feature-title">
                                                    Комнат
                                                </div>
                                                <div>
                                                    ${item.formatted_room_num}
                                                </div>
                                            </div>
                                            <div>
                                                <div class="feature-title">
                                                    Площадь, м<sup>2</sup>
                                                </div>
                                                <div>${item.square}</div>
                                            </div>
                                            <div>
                                                <div class="feature-title">
                                                    руб. / мес.<sup>2</sup>
                                                </div>
                                                <div>${item.price}</div>
                                            </div>
                                        </div>
                                        <div class="title">
                                            ${item.title}
                                        </div>
                                        <div class="address">
                                            <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <span>${item.address}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>`;

                    const mark = new ymaps.Placemark(item.yandex_coord.split(',').map(Number), {
                        iconLayout: 'default#image',
                        balloonContent: balloonContent
                    });
                    this.map.geoObjects.add(mark);
                });
            },

            onFiltersChanged(data) {
                this.$emit('filtersChanged', data);
            },
        }
    }
</script>
