<template>
	<div class="advert-list-component">
		<div v-for="advert in adverts" class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
			<div class="single-advert">
				<a :href="advert.slug">
					<div class="single-advert-inner">
						<span :class="'apartment-type-label ' + advert.obj_type.slug">{{advert.obj_type.name}}</span>
						<img class="img-responsive" :src="advert.cropped_main_image_url.replace('\\', '')" :alt="advert.title">
						<div class="single-advert-details-block">
							<div class="details">
								<div>
									<div class="feature-title">
										Комнат
									</div>
									<div>
										{{advert.formatted_room_num}}
									</div>
								</div>
								<div>
									<div class="feature-title">
										Площадь, м<sup>2</sup>
									</div>
									<div>{{advert.square}}</div>
								</div>
								<div>
									<div class="feature-title">
										руб. / мес.<sup>2</sup>
									</div>
									<div>{{advert.price}}</div>
								</div>
							</div>
							<div class="title">
								{{advert.limited_title}}
							</div>
							<div class="address">
								<i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <span>{{advert.address}}</span>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['adverts'],
	}
</script>
