<template>
	<div>
		<router-view
				@filtersChanged="onFiltersChanged"
				@sortChanged="onSortChanged"
				@showMoreClick="onShowMoreClick"
				@saveFilters="onSaveFilters"
				:filters="originalFilters"
				:allLoaded="allLoaded"
				:adverts="adverts">
		</router-view>
	</div>
</template>

<script>
	const chunkSize = 12;

	export default {
		props: ['preloaded_filters', 'preloaded_adverts'],

		data() {
			return {
				allLoaded: false,
				adverts: this.preloaded_adverts,
				activeSortId: 1,
				filters: [],
				originalFilters: this.preloaded_filters,
			}
		},

		methods: {
			getAdvertsByFilters(forceRefresh = false) {
				this.allLoaded = false;

				axios.get('/api/search-adverts', {
					params: this.getParams(forceRefresh)
				}).then((response) => {
					if (response.data.length < chunkSize) {
						this.allLoaded = true;
					}

					if (!forceRefresh) {
						response.data.forEach((item) => {
							this.adverts.push(item);
						});
					} else {
						let adverts = [];

						response.data.forEach((item) => {
							adverts.push(item);
						});

						this.$set(this, 'adverts', adverts);
					}
				});
			},

			debouncedGetAdverts: _.debounce(function () {
				this.getAdvertsByFilters(arguments[0]);
			}, 300),

			onSortChanged(id) {
				this.activeSortId = id;

				this.debouncedGetAdverts('asdasd');
			},

			getParams(forceRefresh) {
				if (this.$route.path !== '/') {
					return this.filters;
				}

				return Object.assign(this.filters, {
					sort: this.activeSortId,
					chunkSize: chunkSize,
					start: forceRefresh ? 0 : this.adverts.length,
				});
			},

			onFiltersChanged(data) {
				this.filters = data;

				this.debouncedGetAdverts(true);
			},

			onSaveFilters(data) {
				this.filters = data;
			},

			onShowMoreClick() {
				this.debouncedGetAdverts();
			}
		}
	}
</script>
