<template>
	<div id="advert-search">
		<div class="container-fluid-custom">
			<div class="row heading">
				<div class="col-md-4 title">
					<div class="last-advert">
						Последние предложения
					</div>
					<div class="breadcrumbs">
						<a href="/">Главная</a> / <a href="">Поиск</a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="order">
                        <span class="realty-count">
                            {{adverts.length}} квартир отсортированы
                        </span>
						<div class="filters">
                            <span v-for="sort in sorts"
                                  :class="{active: sort.id === activeSort.id}"
                                  @click="setActiveSort(sort)">
	                            {{sort.name}}
                            </span>
						</div>
					</div>
				</div>
			</div>
			<div class="row" id="main">
				<div class="col-md-3">
					<filters @saveFilters="onSaveFilters" @filtersChanged="onFiltersChanged" :filters="filters"></filters>
				</div>
				<div class="col-md-9">
					<div class="row">
						<advert-list :adverts="adverts"></advert-list>
					</div>
					<div class="row">
						<div class="col-sm-12 show-more-wrapper">
							<div v-if="!allLoaded" id="show-more" @click="showMore.call(this)">Показать еще</div>
							<div v-else id="all-showed">Показаны все</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import AdvertList from './AdvertsList.vue';
	import Filters from './Filters.vue';

	import _ from "lodash";

	const sorts = [
		{
			name: 'по дате добавления',
			id: 1,
		},
		{
			name: 'по цене',
			id: 2,
		},
		{
			name: 'по площади',
			id: 3,
		}
	];

	export default {
		components: {
			'advert-list': AdvertList,
			'filters': Filters
		},

		props: ['adverts', 'filters', 'allLoaded'],

		data() {
			return {
				activeSort: sorts[0],
				sorts: sorts,
			}
		},

		methods: {
			showMore: _.debounce(function () {
				this.$emit('showMoreClick');
			}, 1000),

			setActiveSort(sort) {
				this.activeSort = sort;

				this.$emit('sortChanged', this.activeSort.id);
			},

			onFiltersChanged(data) {
				this.$emit('filtersChanged', data);
			},

			onSaveFilters(data) {
				this.$emit('saveFilters', data);
			}
		}
	}
</script>
