<template>
	<div id="filters-sidebar">
		<div class="filter-title">
			Выберите тип аренды
		</div>

		<select @change="filtersChanged" v-model="selectedRentTypeId" class="selector">
			<option v-for="rentType in rentTypes" :value="rentType.id">{{rentType.name}}</option>
		</select>

		<div class="apartment-type">
			<div v-for="searchType in searchTypes"
			     :class="(isApartmentTypeActive(searchType) ? 'active ': '') + 'apartment-btn ' + searchType.slug"
			     @click="searchTypeClick(searchType)">{{searchType.name}}
			</div>
		</div>

		<div class="radio-container" v-if="!isSearchTypeRoom()">
			<input v-model="roomsNumber" type="radio" name="rooms-value" value="1" class="hidden-control" id="one-room">
			<label for="one-room" class="room-value left">1</label>
			<input v-model="roomsNumber" type="radio" name="rooms-value" value="2" class="hidden-control"
			       id="two-rooms">
			<label for="two-rooms" class="room-value">2</label>
			<input v-model="roomsNumber" type="radio" name="rooms-value" value="3" class="hidden-control"
			       id="three-rooms">
			<label for="three-rooms" class="room-value">3</label>
			<input v-model="roomsNumber" type="radio" name="rooms-value" value="4" class="hidden-control"
			       id="more-rooms">
			<label for="more-rooms" class="room-value right">4+</label>
		</div>

		<div class="filter-title">
			Выберите район
		</div>

		<select @change="filtersChanged" v-model="selectedDistrictId" class="selector">
			<option v-for="district in districts" :value="district.id">{{district.name}}</option>
		</select>

		<div class="filter-title">
			Цена
		</div>

		<div class="filter-range-slider">
			<div id="slider"></div>
		</div>

		<div class="range-slider-inputs">
			<div class="input-item">
				<label for="from-price">от</label>
				<input @change="calcSlider" v-model="minPrice" id="from-price" class="filter-input filter-input-sm"
				       type="text">
			</div>
			<div class="input-item">
				<label for="to-price">до</label>
				<input @change="calcSlider" v-model="maxPrice" id="to-price" class="filter-input filter-input-sm"
				       type="text">
			</div>
		</div>

		<div class="additional-toggle"
		     @click="toggleAdditional()">
			Дополнительно
		</div>

		<div v-if="additionalActive">
			<div class="filter-group row">
				<div id="square-filter" class="filter-block col-xs-6">
					<div class="filter-title">
						Площадь в м<sup>2</sup>
					</div>
					<div class="filter-grid">
						<div class="filter-grid-cell filter-grid-cell-50p">
							<input v-model="minSquare" type="text"
							       debounce="500"
							       class="filter-input filter-input-sm text-center">
						</div>
						<div class="filter-grid-cell filter-grid-cell-gap">-</div>
						<div class="filter-grid-cell filter-grid-cell-50p">
							<input v-model="maxSquare" type="text"
							       debounce="500"
							       class="filter-input filter-input-sm text-center">
						</div>
					</div>
				</div>
				<div id="floor-filter" class="filter-block col-xs-6">
					<div class="filter-title">
						Этаж
					</div>
					<div class="filter-grid">
						<div class="filter-grid-cell filter-grid-cell-50p">
							<input v-model="minFloor" type="text"
							       debounce="500"
							       class="filter-input filter-input-sm text-center">
						</div>
						<div class="filter-grid-cell filter-grid-cell-gap">-</div>
						<div class="filter-grid-cell filter-grid-cell-50p">
							<input v-model="maxFloor" type="text"
							       debounce="500"
							       class="filter-input filter-input-sm text-center">
						</div>
					</div>
				</div>
			</div>

			<div class="filter-title">
				Удобства
			</div>

			<div @click="filterClick(option)" class="filter-checkbox" v-for="option in options">
				<span v-bind:class="{'filter-checkbox-fake': true, active: option.active}"></span>
				<span class="filter-checkbox-text">{{option.name}}</span>
			</div>

			<div class="filter-title">
				Особенности
			</div>

			<div @click="filterClick(feature)" class="filter-checkbox" v-for="feature in features">
				<span v-bind:class="{'filter-checkbox-fake': true, active: feature.active}"></span>
				<span class="filter-checkbox-text">{{feature.name}}</span>
			</div>
		</div>
	</div>
</template>

<script>
	const noUiSlider = require('nouislider');
	import { assignActive, getActiveIds, getParameterByName, isEmpty } from "../../utils";

	export default {
		props: ['filters'],

		data() {
			return {
				districts: this.filters.districts,
				rentTypes: this.filters.rentTypes,
				searchTypes: assignActive(this.filters.objectTypes, false, this),
				activeSearchTypeId: 1,
				selectedDistrictId: 1,
				selectedRentTypeId: 1,
				roomsNumber: 1,
				options: assignActive(this.filters.options, false, this),
				features: assignActive(this.filters.features, false, this),
				minPrice: this.filters.minPrice,
				maxPrice: this.filters.maxPrice,
				additionalActive: false,
				minFloor: '',
				maxFloor: '',
				minSquare: '',
				maxSquare: '',
				rangeSlider: null
			}
		},

		watch: {
			minPrice: function (val) {
				this.minPrice = Math.floor(val);
				this.filtersChanged();
			},
			maxPrice: function (val) {
				this.maxPrice = Math.floor(val);
				this.filtersChanged();
			},
			minFloor: function (val) {
				this.filtersChanged();
			},
			maxFloor: function (val) {
				this.filtersChanged();
			},
			minSquare: function (val) {
				this.filtersChanged();
			},
			maxSquare: function (val) {
				this.filtersChanged();
			},
			roomsNumber: function (val) {
				this.filtersChanged();
			}
		},

		mounted() {
			const slider = document.getElementById('slider');

			this.rangeSlider = noUiSlider.create(slider, {
				start: [this.minPrice, this.maxPrice],
				connect: true,
				range: {
					'min': this.minPrice,
					'max': this.maxPrice
				}
			});

			const rentTypesFromQuery = Number.parseInt(getParameterByName('rent-types'));
			if (!isEmpty(rentTypesFromQuery) && rentTypesFromQuery !== 0) {
				this.selectedRentTypeId = getParameterByName('rent-types');
			}

			const apartmentTypeFromQuery = Number.parseInt(getParameterByName('apartment-types'));
			if (!isEmpty(apartmentTypeFromQuery)) {
				this.activeSearchTypeId = apartmentTypeFromQuery;
			}

			const roomsValue = Number.parseInt(getParameterByName('rooms-value'));
			if (!isEmpty(roomsValue)) {
				this.roomsNumber = roomsValue;
			}

			this.rangeSlider.on('set', (data) => {
				this.minPrice = data[0];
				this.maxPrice = data[1];
			});

			this.filtersChanged();
		},

		methods: {
			isApartmentTypeActive(searchType) {
				return searchType.id === this.activeSearchTypeId;
			},

			isSearchTypeRoom() {
				return this.activeSearchTypeId === 2;
			},

			calcSlider() {
				this.rangeSlider.set([this.minPrice, this.maxPrice]);
			},

			filterClick(filter) {
				filter.active = !filter.active;

				this.filtersChanged();
			},

			searchTypeClick(searchType) {
				this.searchTypes.find((item) => {
					return item.id === this.activeSearchTypeId;
				}).active = false;

				searchType.active = true;
				this.activeSearchTypeId = searchType.id;

				this.filtersChanged();
			},

			toggleAdditional() {
				this.additionalActive = !this.additionalActive;
			},

			filtersChanged() {
				this.$emit('filtersChanged', this.getFiltersData());
			},

			saveFilters() {
				this.$emit('saveFilters', this.getFiltersData());
			},

			getFiltersData() {
				return {
					minPrice: this.minPrice,
					maxPrice: this.maxPrice,
					searchTypes: [this.activeSearchTypeId],
					options: getActiveIds(this.options),
					features: getActiveIds(this.features),
					minFloor: this.minFloor,
					maxFloor: this.maxFloor,
					minSquare: this.minSquare,
					maxSquare: this.maxSquare,
					rentTypeId: this.selectedRentTypeId,
					districtId: this.selectedDistrictId,
					roomsNumber: this.roomsNumber
				}
			}
		}
	}
</script>
