.btn {
	font-size: 18px;
	padding: 15px 50px;
	width: 100%;
	@media (min-width: @screen-sm-min) {
		font-size: 11px;
		padding: 10px 15px;
	}
	@media (min-width: @screen-md-min) {
		font-size: 13px;
		padding: 12px 30px;
	}
	@media (min-width: @screen-lg-min) {
		font-size: 14px;
		padding: 12px 35px;
	}
	&.btn-round {
		border-radius: 25px;
	}

}

.apartment-btn {
	cursor: pointer;
	padding: 18px;
	margin: 10px 0;
	border-radius: 5px;
	text-align: center;
	background: #E7E7E7;
	width: 100%;
	transition: background .5s ease, color .5s ease;

	&:hover {
		background: lighten(#E7E7E7, 2%);
	}

	&.active {
		background: #44A5D0;
		color: #fff;

		&:hover {
			background: lighten(#44A5D0, 5%);
		}
	}

	&.active {
		&.kottedzh {
			background: @main-green;
		}

		&.komnata {
			background: @main-blue;
		}

		&.kvartira {
			background: @main-red;
		}
	}
}

input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
	 color: @white;

	 &.kottedzh {
		 background: @main-green;
	 }

	 &.komnata {
		 background: @main-blue;
	 }

	 &.kvartira {
		 background: @main-red;
	 }
 }



.hidden-control {
	visibility: hidden;
	position: absolute;
}