.choose-tariff {
	background-color: @main-gray-3;

	.left-column {
		font-size: 15px;
		margin-top: 25px;
	}

	.tariff-general-description {
		margin-top: 20px;
	}

	.row-tariff {
		display: flex;
    	flex-wrap: wrap;
    	.panel-tariff {
    		display: flex;
			.tariff-description {
				background-color: @white;
				border: 1px solid @main-gray-1-rgba;
				padding: 20px;
				text-align: center;
				font-family: "PT Serif", serif;
				display: flex;
			    flex-direction: column;
			    justify-content: space-between;
			    align-items: center;
			    width: 100%;

				.btn {
					border-radius: 20px;
					width: 70%;
					font-family: "Roboto";
				}

				.name {
					color: @main-red;

					span {
						font-size: 60px;
					}

					.written {
						font-size: 15px;
						padding-bottom: 20px;
						text-transform: uppercase;
						vertical-align: middle;
					}
				}

				.body {
					margin-bottom: 20px;
				}

				.cost {

					font-family: "Roboto";
					color: @main-red;
					font-size: 24px;

					span {
						vertical-align: middle;
						padding-bottom: 10px;
						font-size: 14px;
					}

					&-undercase {
						font-size: 24px;
						color: @main-gray-1;
						margin-bottom: 10px;
						text-decoration: line-through;
					}
				}
			}
    	}
	}
}