.footer {
	color: @white;
	&-top {
		padding: 20px 0 30px 0;
		background-color: @main-dark;
		.container-fluid-custom {
			.wrapper {
				padding: 20px 0 0 0;
			}
			div {
				line-height: 30px;
				h4 {
					margin-bottom: 20px;
					font-weight: 600;
				}
				a {
				}
			}
		}
	}
	&-bottom {
		background-color: @main-dark-1;
		padding: 8px 0 8px 0;
		color: @white;
		align-self: center;
		.container-fluid-custom {
			.link-back {
				padding-top: 20px;
				text-align: center;
			}
			.copyright-text {
				padding: 20px 40px;
				text-align: left;
			}
			@media screen and (min-width: @screen-md-min) {
				.link-back {
					padding: inherit;
					text-align: inherit;
				}

				.copyright-text {
					padding: inherit;
					text-align: right;
				}

			}
		}

	}
}



