.header {
	&-top {
		background-color: @main-dark;
		padding: 3px 0 3px 0;
		color: @white;
		align-self: center;
		.container-fluid-custom {
			div, a {
				display: flex;
				flex-direction: row;
				align-items: center;
				i {
					color: @main-gray-4;
					padding: 0 10px 0 10px;
					font-size: 25px;
					&.icon-dot {
						font-size: 5px;
						vertical-align: middle;
					}
				}
			}
			.dropdown {
				list-style: none;
			}
		}
	}
	&-bottom {
		padding-top: 20px;
		padding-bottom: 20px;
		align-items: center;
		.toggle-header-bottom-view {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			div, a {
				display: flex;
				align-items: center;
				&.nav-link {
					color: @main-gray;
					font-size: 16px;
					font-weight: normal;
					padding-top: 6px;
					padding-bottom: 6px;
					&:hover {
						color: @main-red;
					}
					i {
						padding: 0 10px 0 0;
					}
				}
			}
			.logo-box {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.hamburger {
					color: @black;
					font-size: 38px;
				}
			}
			.btn-box {
				display: flex;
				flex-direction: column;
				align-self: center;
				margin: 20px 0 0 0;

				& :first-child {
					margin: 0 0 10px 0;
				}
			}

		}
		@media screen and (min-width: @screen-sm-min) {
			.toggle-header-bottom-view {
				flex-direction: row;
				align-items: center;
				div, a {
					&.nav-link {
						@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
							font-size: 14px;
							.fa {
								font-size: 16px;
							}
						}
						@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
							font-size: 12px;
							.fa {
								font-size: 14px;
							}
						}
					}
				}
				.btn-box {
					flex-direction: row;
					margin: 0;
					& :first-child {
						margin: 0 20px 0 0;
					}
				}
			}
		}

	}
}



