.modal-content {
	background-color: @main-gray-2;
}

.modal-header {
	border-bottom: none;
	h3 {
		font-weight: bold;
	}

}

.modal-body {
	input {
		width: 100%;
		margin-bottom: 15px;
		border: none;
		padding: 10px
	}
}

.main-red {
	color: @main-red !important;
}

.modal-footer {
	border-top: none;
	text-align: left;

	input[type=submit] {
		margin-bottom: 15px;
	}
	.acceptlicence-line {
		vertical-align: middle;
		padding-bottom: 10px;
	}
	.user-accept {

		font-size: 10px;
	}
}
