.new-advert {
	background-color: @main-gray-3;

	.margin-top-30px {
		margin-top: 30px;
	}

	.margin-bottom-30px {
		margin-bottom: 30px;
	}

	.padding-right-0 {
		padding-right: 0;
	}

	.padding-left-0 {
		padding-left: 0;
	}

	textarea {
		padding: 8px 24px;
	}

	input[type="text"], input[type="number"] {
		padding: 8px 24px;
	}

	.object-switch-buttons {
		background-color: @white;
		padding: 15px;
		border: 1px solid @main-gray-1;

		.btn {
			width: 100%;
			@media (max-width: @screen-xs-max) {
				margin-bottom: 7px;
				margin-top: 7px;
			}
		}
	}

	.room-count {
		label {
			cursor: pointer;
			border-top: 1px solid @main-gray-1;
			border-left: 1px solid @main-gray-1;
			border-bottom: 1px solid @main-gray-1;
			background: @main-gray-3;
			padding: 8px 0;
			transition: background .5s ease, color .5s ease;

			&:first-of-type {
				border-radius: 5px 0 0 5px;
			}

			&:last-of-type {
				border-radius: 0 5px 5px 0;
				border-right: 1px solid @main-gray-1;
			}
		}

		input[type="radio"]:checked + label {
			background: @main-blue;
			color: @white;
		}
	}

	.address-panel {
		input {
			width: 100%;
		}
		.description {
			margin-top: 20px;
			color: @main-blue;
		}
	}

	.options-panel {
		label {
			width: 100%;
			height: 170px;
			padding: 10px;
			max-height: 170px;
			text-align: center;
			margin-bottom: 0;
			cursor: pointer;
			background: @white;
			box-shadow: 0 0 0 1px rgb(204,204,204);
			transition: background .5s ease, color .5s ease, box-shadow .5s ease;

			svg {
				width: 25px;
				transition: fill .5s ease;

				&.option-icon {
					width: auto;
					height: 50px;
					display: block;
					margin: 15px auto 20px;
				}
			}
		}

		input[type="checkbox"]:checked + label {
			background: @main-blue;
			box-shadow: 0 0 0 1px @main-blue;

			svg {
				fill: @white;
			}
		}
	}

	.features-panel {
		input[type="checkbox"]:checked + label {
			color: @black;
		}
	}

	#additional-parameters-string {
		border-bottom: 1px dashed;
		cursor: pointer;
	}

	#additional-parameters-fields {
		display: none;
	}

	.send-button {
		border-radius: 50px;
		margin-bottom: 30px;
	}
}
