.single-advert {

	transition: all ease 0.3s;
	border: 1px solid #EDEDED;
	margin-bottom: 15px;

	&:hover {
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.15);

		.address span {
			color: #D2515F;
		}
	}

	a {
		&:hover {
			color: #FFF;
		}
	}

	.single-advert-inner {
		position: relative;

		.single-advert-details-block {
			font-size: 12px;
			color: #000;
			font-weight: 500;
			padding: 8px 5px;
			background: #FFF;
			@media screen and (min-width: @screen-sm-min) {
				padding: 15px 10px;
				font-size: 15px;
			}

			.address {
				margin-top: 40px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				.fa {
					margin-right: 10px;
					vertical-align: middle;
				}
			}

			.title {
				height: 60px;
				margin: 10px 0 20px 0;
				font-style: italic;
			}

			.details {
				display: flex;
				justify-content: space-between;

				.feature-title {
					font-size: 7px;
					margin-bottom: 5px;
					color: #AAAAAA;
					@media screen and (min-width: @screen-sm-min) {
						font-size: 12px;
					}

				}
			}
		}
	}
}

.apartment-type-label {
	color: @white;
	position: absolute;
	top: 12px;
	left: 15px;
	display: inline-block;
	padding: 1px 5px;
	text-transform: lowercase;
	font-size: 12px;
	border-radius: 20px;
	&.kottedzh {
		background: @main-green;
	}

	&.kvartira {
		background: @main-red;
	}

	&.komnata {
		background: @main-blue;
	}

}

.ymaps-2-1-50-balloon__content {
	margin: 0 !important;
	padding: 0 !important;
}

.ymaps-2-1-50-balloon__close {
	background: rgba(255, 255, 255, 0.7) !important;
}

.ymaps-2-1-50-balloon__close-button {
	opacity: 1 !important;
}

.single-advert-map {
	width: 250px;
	.single-advert-inner {
		position: relative;
		.single-advert-details-block {
			font-size: 12px;
			color: #000;
			font-weight: 500;
			padding: 8px 5px;
			background: #FFF;
			@media screen and (min-width: @screen-sm-min) {
				padding: 15px 10px;
				font-size: 15px;
			}
			.address {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				margin: 8px 0 0 0;
				.fa {
					margin-right: 10px;
					vertical-align: middle;
				}
			}
			.title {
				margin: 8px 0 8px 0;
				font-style: italic;
			}
			.details {
				display: flex;
				justify-content: space-between;

				.feature-title {
					font-size: 7px;
					margin-bottom: 5px;
					color: #AAAAAA;
					@media screen and (min-width: @screen-sm-min) {
						font-size: 12px;
					}

				}
			}
		}
	}
}
