<template>
	<div id="advert-comments">
		<h3>Отзывы</h3>
		<ul>
			<li v-for="comment in comments">
				<strong>{{comment.name}}</strong>
			    <div class="body">{{comment.text}}</div>
			</li>
		</ul>
		<div @click="showMore.call(this)" class="btn" v-if="this.count > this.limit && this.count != this.loaded && this.count > 0">Показать еще</div>
	</div>
</template>

<script>
	const limit = 12;

	export default {
		props: ['advert_id'],
		mounted() {
			this.getComments();
		},
		data() {
			return {
				comments: [],
				loaded: 0,
				count: 0,
				limit: limit
			}
		},
		methods: {
			showMore: _.debounce(function () {
				this.getComments();
			}, 1000),
			getComments() {
				axios.get('/get-comments', {
					params: this.getFiltersData()
				}).then((response) => {
					response.data.comments.forEach((item) => {
						this.comments.push(item);
					});
					this.loaded = this.comments.length;
					this.count = response.data.count;
				});
			},
			getFiltersData() {
				return {
					start: this.loaded,
					limit: this.limit,
					advert_id: this.advert_id
				}
			}
		}
	}
</script>
