<template>
    <div>
        <dropzone id="myVueDropzone" ref="dropzone" :url="url" paramName="images" :useFontAwesome="true"
                  :language="dropzone_locale_ru" :max-number-of-files="maxNumberOfFiles" @vdropzone-success="dropzoneFileUploaded"
                  @vdropzone-removed-file="removeFile">
            <slot></slot>
        </dropzone>
    </div>
</template>

<script>
    import Dropzone from 'vue2-dropzone';
    import * as md5 from "md5";
    import _ from 'lodash';

    export default {
        components: {
            Dropzone
        },

        props: [
            'url',
            'images',
            'basePath',
        ],

        data() {
            return {
                gallery: [],
                maxNumberOfFiles: 25,
                dropzone_locale_ru: {
                    dictDefaultMessage: '<br/>Выберите файлы на своем компьютере</br>или просто переместите сюда фотографии',
                    dictCancelUpload: 'Отмена',
                    dictRemoveFile: 'Удалить'
                },
            }
        },

        mounted() {
            this.gallery = (JSON.parse(this.images) === null) ? [] : JSON.parse(this.images);

            this.gallery.forEach((item) => {
                this.$refs.dropzone.manuallyAddFile({
                    name: `${item}`.replace(/^images[\\ \/]uploads[\\ \/]/g, ''),
                    size: 12345
                }, `${this.basePath}/${item.replace(/\.\w*$/g, "-image(200x200-crop)$&")}`);
            });
        },

        methods: {
            dropzoneFileUploaded(file, response) {
                this.gallery.push(`images/uploads/${response.success}`);
            },

            removeFile(file) {
                this.gallery.splice(_.findKey(this.gallery, function(item) {
                    return item.search(file.name) !== -1;
                }), 1);

                this.refresh();
            },

            refresh() {
                $('#file-inputs').html('');

                this.gallery.forEach((item, index) => {
                    this.addHiddenInput(item, index);
                });
            },

            addHiddenInput(image, key) {
                $('#file-inputs').append(`<input id="gallery-${key}" type="hidden" name="images[]" value="${image}"/>`);
            },
        },

        watch: {
            gallery: function () {
                this.refresh();
            },
        }
    }
</script>