<template>
	<div></div>
</template>

<script>
	import PNotify from 'pnotify';

	export default {
		props: ['message', 'level'],
		mounted() {
            PNotify.prototype.options.styling = "fontawesome";

			new PNotify({
			    text: this.message,
			    type: this.level,
			});
		},
		data() {
			return {}
		}
	}
</script>
