<template>
	<button type="button" class="btn btn-info" @click="clickShowPhone()">
        <i class="fa fa-phone" aria-hidden="true"></i>
        {{ phone }}
    </button>
</template>
<script>
	import PNotify from 'pnotify';

	export default {
		props: ['id'],
		mounted() {

		},
		data() {
			return {
				phone: 'Телефон владельца'
			}
		},
		methods: {
			clickShowPhone() {
				axios.get('/show-phone', {
					params: {id: this.id},
				}).then((response) => {
					if (response.data.modal) {
						$(response.data.modal).modal('show');
					}

					if (response.data.message && response.data.type) {
                        PNotify.prototype.options.styling = "fontawesome";

						new PNotify({
						    text: response.data.message,
						    type: response.data.type
						});
					}

					if (response.data.status == true) {
						if (response.data.phone) {
							this.phone = response.data.phone;
						}
					}

					if (response.data.redirect) {
						window.location.href = response.data.redirect;
					}
				});
			}
		}
	}
</script>
