<template>
	<div id="map" style="width:100%; height:350px;"></div>
</template>

<script>
	export default {
		props: ['coords'],
		mounted() {
			ymaps.ready(() => {
				let coords = this.coords.split(',').map(Number);
				const map = new ymaps.Map('map', {
					center: coords,
					zoom: 15,
					controls: ['zoomControl']
				});
				const placemark = new ymaps.Placemark(coords, {}, { iconLayout: 'default#image' });
				map.geoObjects.add(placemark);
				map.behaviors.disable('scrollZoom');
			});
		},
		data() {
			return {}
		}
	}
</script>
