.show-advert {
	.but {
		margin-top: 25px;
		margin-bottom: 40px;
	}

	.publicated_at {
		color: @main-gray-1;
		font-size: 10px;
	}

	.body-description {
		margin-top: 15px;
	}

	.advert-comments {
		.body {
			margin-top: 15px;
		}
	}

	.advert-properties {
		position: absolute;
		top: 200px;
	}

	.similiar-adverts {
		margin-bottom: 30px;

		h3 {
			margin-bottom: 20px;
			text-align: center;
		}

	}
}

.advert-property-box {
	border: 1px solid @main-gray-4;
	.phone {
		text-align: center;
		padding: 30px 20px;
		border: 1px solid @main-gray-4;
		border-style: none none solid none;
		.btn-info {
			border-radius: 50px;
		}
		.fa-phone {
			border-radius: 50%;
			border: 1px solid @white;
			margin-right: 10px;
			font-weight: bold;
			line-height: 27px;
			width: 27px;
			height:27px;
		}
	}

	.map {
		text-align: center;
	}

}

.options-list, .feature-list {
	padding: 0;
	list-style-type: none;
	color: @main-gray-1;
	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 8px;
		.options-list-icon, .feature-list-icon {
			fill: @main-gray-1;
			width: 35px;
			height: auto;
			margin-right: 20px;
		}
	}

}

