#carousel {
	position: relative;
	display: block;
	.slide {
		display: block;
		float: left;
	}
	.carousel-prev-arrow, .carousel-next-arrow {
		position: absolute;
		top: 40%;
		z-index: 1;
		cursor: pointer;
	}
	.carousel-prev-arrow {
		left: 50px;
	}
	.carousel-next-arrow {
		right: 50px;
	}
	&.carousel-script-not-loaded{
		display: flex;
		flex-direction: row;
		& > div:not(:nth-child(-n+3)) {
			display: none;
		}
	}
}

.ekko-lightbox-container {
	a {
		flex: 1;
		display: flex;
		align-items: center;
		opacity: 0;
		transition: opacity .5s;
		color: #fff;
		font-size: 30px;
		z-index: 1;
		&:link, &:active, &:visited, &:focus {
			text-decoration: none;
			outline: none;
			color: #fff;
			transition: all .5s ease;
		}
		&:active, &:hover {
			outline: 0;
		}

	}
}

.advert-head-properties {
	background-color: @white;
	border: 1px solid @main-gray-4;
	border-style: solid solid none solid;
	margin-top: -92px;
	.col-xs-4 {
		text-align: center;
		padding: 20px 0;
	}
	.centered {
		border: 1px solid @main-gray-4;
		border-style: none solid none solid;
	}
	.value {
		font-size: 26px;
	}
	.key {
		font-size: 10px;
		color: @main-gray-1;
	}
}