.main-advert-list {
	margin-bottom: 40px;

	h2 {
		text-align: center;
		margin: 40px 0;
	}

	.btn-col {
		display: flex;
		justify-content: center;
	}

	.btn {
		margin-top: 50px;
		border-radius: 20px;
		padding-left: 40px;
		padding-right: 40px;
		letter-spacing: 1px;
		background: #D24F5D;
		font-size: 16px;
		font-weight: 100;
		width: 250px;

		&:hover {
			background: lighten(#D24F5D, 5%);
			color: #FFF;
		}
	}

}
