
.header-margin {
	.text-panel {
		position: absolute;
		bottom: 40%;
		left: 0;
		right: 0;
		padding: 15px;

		h1 {
			font-weight: 700;
			color: @white;
		}

		.row {
			margin-left: -30px;
		}
	}

}
