.features {
	h2 {
		margin: 40px 0;
	}

	h5 {
		font-weight: 700;
		margin: 20px 0;
	}

	.img-responsive {
		width: 60%;
		margin: 0 auto;
		@media screen and (min-width: @screen-xs-min) {
			width: 40%;
		}
	}

	.article {
		margin-bottom: 40px;
	}
}
