.glass-panel {
	position: relative;
	padding: 0 15px;
	background-color: @main-blue-1;

	@media screen and (min-width: @screen-sm-min) {
		border-radius: 4px;
		background-color: @main-gray-1-rgba;
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;

	}

	form {
		& > div {
			margin: 15px 0;
		}

		& > div > div:first-child {
			margin-bottom: 7px;
		}

		& > div > div:last-child {
			margin-top: 7px;
		}
		@media screen and (min-width: @screen-sm-min) {
			.remove-left-padding-sm {
				padding-left: 0;
			}
		}
		.selector, .apartment-types-radio, .rooms-value {
			background-color: @white;
		}
		.selector, .apartment-types-radio, .rooms-value, .button {
			width: 100%;
			cursor: pointer;
			padding: 15px;
			margin: 0;
			border-radius: 5px;
			text-align: center;
			transition: background .5s ease, color .5s ease;
			border: none;
		}
		.select-wrapper {
			padding: 0 30px;
		}

		.selector {
			border: 1px solid transparent;
			&:active, &:focus {
				border: 1px solid @main-blue;
			}
		}

		.row-wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.radio-container {
			justify-content: center;

		}
		.rooms-value {
			width: 50px;
			border-radius: 0;
			border-left: 1px solid @main-gray-4;
			border-right: 1px solid @main-gray-4;
			&:nth-child(2) {
				border-radius: 5px 0 0 5px;
				border-left: none;
			}
			&:last-child {
				border-radius: 0 5px 5px 0;
				border-right: none;
			}
		}
		input[type="radio"]:checked + label.rooms-value {
			color: @white;
			background-color: @main-blue;
		}

		.fa {
			@media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
				font-size: 10px !important;
			}
			&-search {
				// font-size: 16px ;
				margin-right: 10px;
			}
		}
		@media screen and (min-width: @screen-sm-min) {
			.select-wrapper {
				padding: 0 0 0 15px;
			}

			& > div > div {
				padding: 0 7px;
			}

			& > div > div:first-child {
				padding: 0 7px 0 0;
				margin-bottom: 0;
			}

			& > div > div:last-child {
				padding: 0 0 0 7px;
				margin-top: 0;
			}
		}
	}
}
