#advert-search {
	background: #EEEEEE;

	.heading {
		padding: 40px 0;

		.last-advert {
			font-weight: 500;
			font-size: 25px;
		}

		.breadcrumbs {
			color: #A3A3A3;

			a {
				color: #A3A3A3;
			}
		}

		.order {
			display: flex;
			justify-content: flex-end;
			margin-top: 20px;

			span {
				font-size: 13px;
				margin: 0 10px;
			}

			.filters span {
				cursor: pointer;
				padding: 5px 10px;
				border-radius: 15px;
				&:hover, &.active {
					background: @search-component-order-background;
				}
			}
		}
	}

	#main {
		padding-bottom: 40px;
	}

	.show-more-wrapper {
		display: flex;
		justify-content: center;
		margin: 10px 0;

		#show-more {
			padding: 10px 40px;
			font-size: 16px;
			background: @main-green;
			color: @white;
			cursor: pointer;

			&:hover {
				background: lighten(@main-green, 4%);
			}

			&:active {
				background: darken(@main-green, 4%);
			}
		}

		#all-showed {
			background: darken(@search-component-order-background, 5%);
			padding: 10px 20px;
			cursor: default;
		}
	}

}
