#advert-list-map {
	#map {
		width: 100%;
		height: 100vh;
	}

	.filters-sticky {
		position: absolute;
		top: 20px;
		left: 60px;
		width: 300px;
		max-height: ~"calc(100% - 40px)";
		overflow-x: hidden;
		overflow-y: auto;
	}
}
