#filters-sidebar {
	background: #FFF;
	padding: 20px;
	box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.15);

	.radio-container {
		justify-content: center;
		display: flex;

		input {
			visibility: hidden;
		}

		label {
			border: 1px solid @main-gray-4;
			display: inline-block;
			text-align: center;
			padding: 15px 0;
			flex: 1;
			cursor: pointer;
			transition: all .5s ease;

			&.left {
				border-radius: 5px 0 0 5px;
			}

			&.right {
				border-radius: 0 5px 5px 0;
			}
		}

		input:checked + label {
			border-color: @main-blue;
			background: @main-blue;
		}
	}

	.selector {
		width: 100%;
		cursor: pointer;
		padding: 15px;
		margin: 0;
		border-radius: 5px;
		text-align: center;
		transition: background .5s ease, color .5s ease;
		border: 1px solid @main-gray-4;
	}

	.range-slider-inputs {
		display: flex;
		justify-content: space-between;

		.input-item {
			text-align: center;
		}

		input {
			margin-left: 5px;
			display: inline-block;
			text-align: center;
			width: 50%;
		}

		margin-bottom: 20px;
	}

	.filter-range-slider {
		margin: 30px 0;
		padding: 0 30px;

		.slider-horizontal {
			width: 100%;
		}

		.noUi-horizontal {
			height: 2px;
		}

		.noUi-connect {
			background: #D14E5C;
			height: 2px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			top: -1px;
		}

		.noUi-handle {
			width: 20px;
			height: 20px;
			left: -10px;
			top: -10px;
			cursor: pointer;
			border-radius: 50%;
			box-shadow: none;
			border: 2px solid #D14E5C;
			background: #fff;

			&:before {
				display: none;
			}

			&:after {
				display: none;
			}
		}
	}

	.filter-checkbox {
		* {
			cursor: pointer;
		}

		margin-top: 7px;

		label {
			position: relative;
			width: 100%;
			margin-top: 3px;
		}

		.filter-checkbox-fake {
			position: relative;
			display: inline-block;
			border-radius: 3px;
			width: 16px;
			height: 16px;
			border: 1px solid #dcdcdc;
			vertical-align: middle;

			&.active:after {
				opacity: 1;
			}

			&:after {
				opacity: 0;
				transform: rotate(46deg) skewX(15deg);
				transform-origin: 50% 50%;
				transition: opacity .3s ease;
				content: "";
				width: 7px;
				height: 11px;
				position: absolute;
				top: 0;
				right: 3px;
				border: 1px solid #000;
				border-width: 0 2px 2px 0;
			}
		}
	}

	.filter-title {
		font-size: 11px;
		text-transform: uppercase;
		color: #A7A7A7;
		margin: 15px 0 10px 0;
	}

	.additional-toggle {
		font-size: 16px;
		padding: 8px 0;
		border-top: 1px solid #E9E9E9;
		cursor: pointer;
	}

	.filter-input {
		border-radius: 3px;
		width: 100%;
		height: 44px;
		padding: 12px 10px 10px;
		border: 1px solid #dcdcdc;
		font-size: 15px;
		line-height: 20px;
	}

	.filter-input-sm {
		height: 34px;
		padding: 7px 7px 5px;
	}

	.filter-group {
		.filter-grid {
			width: 100%;
			display: table;
			table-layout: auto;

			.filter-grid-cell {
				display: table-cell;
				vertical-align: top;
			}

			.filter-grid-cell-gap {
				padding: 0 4px;
				vertical-align: middle;
			}

			.filter-grid-cell-50p {
				width: 50%;
			}
		}
	}
}
