.notifications {
	.nav-bar {
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.15);
		.btn {
			border-radius: 0;
			color: @black;
			&:hover {
				background-color: @main-blue;
				color: @white;
			}
			&:not(:first-child) {
				border-top: 0;
			}
		}
	}
	.notifications-list {
		.row {
			padding: 5px 0;
			&:nth-child(odd) {
				background-color: @main-gray-4;
			}
			time {
				font-size: 12px;
				font-weight: 600;
				@media screen and (min-width: @screen-sm-min) {
					font-size: 15px;
				}

			}
			.link {
				color: @main-red;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}