.user-advert-list {
	.advert {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		border: 1px solid @main-gray-1;
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.15);
		margin-bottom: 15px;
		.img {
			flex: .4 1 110px;
			position: relative;
			padding: 0;

		}
		.description {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-left: 5px;
			flex: 4;
			@media screen and (min-width: @screen-sm-min) {
				padding-left: 13px;
			}

			.title {
				color: @black;
				font-style: italic;
				font-weight: 600;
				transition: all .5s ease;
				padding: 8px 0;
				font-size: 11px;
				@media screen and (min-width: @screen-sm-min) {
					font-size: 15px;
					padding: 10px 0;
				}
				&:hover {
					color: @main-blue;
				}
			}
			.status {
				margin: 8px 0;
				font-weight: 700 !important;
				font-size: 10px;
				@media screen and (min-width: @screen-sm-min) {
					font-size: 14px;
					margin: 10px 0;
				}
				&-moderatorial {
					color: @main-red;
				}

				&-waiting {
					color: @main-gray-1;
				}

				&-passed {
					color: @main-blue;
				}

			}

		}
		.created_at {
			flex: 1;
			padding: 8px 5px;
			color: @main-gray-1;
			font-size: 10px;
			@media screen and (min-width: @screen-sm-min) {
				padding: 12px 13px;
				font-size: 14px;
			}

		}

		.advert-tool-box {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 2;
			border-color: @main-gray-1;
			padding: 0;
			border-left: 1px solid @main-gray-1;

			.btn {
				display: flex;
				justify-content: flex-start;
				align-content: center;
				height: 100%;
				border: none;
				background-color: @main-gray-4;
				border-radius: 0;
				color: @black;
				font-size: 11px;
				padding: 10px 15px;
				&:hover {
					background-color: @main-blue;
					color: @white;
				}
				&:not(:first-child) {
					border-top: 1px solid @main-gray-1;
				}
				span {
					align-self: center;
				}
				.fa {
					align-self: center;
					font-size: 19px;
					margin-right: 15px;
					@media screen and (min-width: @screen-sm-min) {
						font-size: 23px;
					}

				}
			}

		}
	}
}
