@import "../../../node_modules/bootstrap/less/bootstrap";
@import (css) "../../../node_modules/pnotify/dist/pnotify.css";
@import (css) "../../../node_modules/pnotify/dist/pnotify.brighttheme.css";
@import "../../../node_modules/nouislider/src/nouislider";
@import "../../../node_modules/slick-carousel/slick/slick";
@import "../../../node_modules/slick-carousel/slick/slick-theme";
@import "font-awesome/less/font-awesome";
@import "general";
@import "variables";
@import "partials/buttons";
@import "partials/header";
@import "partials/footer";
@import "partials/breadcrumbs";
@import "home/carousel";
@import "home/features";
@import "home/advert-list";
@import "home/search-filter";
@import "partials/single-advert";
@import "partials/login-modal";
@import "user/user-advert";
@import "components/advert-list-map";
@import "components/advert-list";
@import "components/filters-sidebar";
@import "partials/new-advert";
@import "partials/choose-tariff";
@import "advert/carousel";
@import "advert/advert";
@import "partials/feed-back";
@import "components/advert-list-component";
@import "user/notifications";

@btn-font-weight: 400;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

html {
	background: @main-dark-1;
}

body, label, .checkbox label {
	font-weight: @btn-font-weight;
	color: @black;
}

.breadcrumbs {
	list-style: none;
	li {
		margin: 0;
		display: inline-block;
		color: @main-gray;
		font-size: 13px;
		a {
			color: @main-gray;
		}
	}
}
