// Old shit
.btn-info {
	&-info {
		background-color: @main-blue !important;
	}
	&-danger {
		background-color: @main-red !important;
	}
	&-success {
		background-color: @main-green !important;
	}
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-right-10px {
	margin-right: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-130 {
	margin-top: 130px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.padding-right-0 {
	padding-right: 0;
}

.padding-left-0 {
	padding-left: 0;
}

.padding-bottom-15 {
	padding-bottom: 15px;
}

.padding-bottom-40 {
	padding-bottom: 40px;
}

// Refactor
.flex-row-space-between-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.container-fluid-custom {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (min-width: @screen-lg-min) {
		padding-right: 30px;
		padding-left: 30px
	}
	@media screen and (min-width: 1540px) {
		width: 1520px;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px
	}
}

#content {
	position: relative;
}

a {
	&:link, &:active, &:visited, &:focus {

		text-decoration: none;
		outline: none;
		color: @white;
		transition: all .5s ease;
	}
	&:hover {
		color: @link-hover-color;
	}
}



