@main-dark: #343434;
@main-dark-1: #191919;

@main-blue: #43a5d0;
@main-blue-1: #264168;
@main-red: #cf4e5c;
@main-gray: #827f80;
@main-gray-1: #938f93;
@main-gray-1-rgba: rgba(99, 116, 136, 0.5);
@main-gray-2: #f3f3f3;
@main-gray-3: #f5f5f5;
@main-gray-4: #d0d0d0;
@main-green: #97ce37;

@search-component-order-background:  #E4E4E4;

@white: #fff;
@black: #000;

@link-hover-color: @main-blue;