<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 padding-right-0 padding-bottom-15" style="height: 100%;">
    <a class="" href="/advert-test">
        <div class=" advert advert-link ">
            <div class="cover">
                <img id="imgtitle" class="img-responsive "></img>
                <span id="objtype" class="type "> </span>
            </div>

            <div class="advert-footer">
                <div class="third row-title">
                    Комнат
                </div>
                <div class="third row-title">
                    Площадь м <sup>2</sup>
                </div>
                <div class="third row-title">
                    руб./месяц
                </div>
                <div id="roomnum" class="third value ">

                </div>
                <div id="square" class="third value ">

                </div>
                <div id="price" class="third value ">

                </div>
                <div id="title" class="description ">

                </div>
                <div id="address" class="address ">

                </div>
            </div>
        </div>
    </a>
</div>
